body {
  padding: 0;
  margin: 0;

  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;

  background-color: #000;
  background-image: url("../img/index-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal {
  display: none;
}

.main-header {
  margin-bottom: 75px;

  /* min-height: 285px; */
}

.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* min-height: 285px; */
  background-color: transparent;

  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.site-logo {
  order: 2;
  width: 371px;
  height: 155px;

  background-color: transparent;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 620px;

  list-style: none;
}

.inner-page-header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-menu a,
.user-area a {
  display: block;
  padding: 25px 20px;

  vertical-align: middle;
}

.user-area {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 140px;

  list-style: none;
}

.user-area .login-link {
  position: relative;
  padding-left: 50px;
}

.user-area .login-link::before {
  content: "";

  position: absolute;
  top: 27px;
  left: 24px;

  width: 16px;
  height: 18px;

  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}


.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  opacity: 1;
}

.menu-wrapper {
  width: 100%;
  margin-bottom: 60px;

  background-color: #000;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.menu-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-logo-inner {
  height: 20px;
}

.main-menu-current {
  position: relative;
}

.main-menu-current::after {
  content: "";

  position: absolute;
  top: 67px;
  right: 0;
  width: 100%;
  height: 4px;

  background-color: #fff;
}

.feature-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.features {
  margin-bottom: 80px;
}

.news {
  width: 385px;
}

.gallery {
  width: 290px;
}

.contacts {
  width: 385px;
}

.contacts .button {
  margin-right: 15px;
}

.appointment {
  width: 290px;
}

.main-nav a {
  color: #fff;
}

.main-menu,
.user-area,
.feature-list,
.news-list,
.footer-social ul,
.breadcrumbs,
.filters ul,
.catalog-list,
.pagination-list,
.product-image-small,
.product-list,
.price-page-products ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-menu a:hover,
.main-menu a:focus,
.user-area a:hover,
.user-area a:focus {
  background-color: #242424;
}

.feature-item {
  width: 300px;

  text-align: center;
}

.feature-item h3 {
  position: relative;

  margin: 0;
  padding: 0;
  margin-bottom: 60px;

  font-size: 30px;
  line-height: 42px;
}

.feature-item h3::after {
  content: "";

  position: absolute;
  bottom: -30px;
  left: 50%;

  width: 20px;
  height: 20px;
  margin-left: -10px;

  background-color: #ffffff;
  transform: rotate(45deg);
}

.feature-item p {
  margin: 0 10px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;

  color: #000;

  background-color: #f8f5f2;
  background-image: url("../img/line.png"),
                    url("../img/noisy-background-tile.jpg");

  background-position: center,
                       0 0;
  background-repeat: no-repeat,
                     repeat;
}

.index-columns h2 {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 42px;
}

.news-list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.news-item {
  margin-bottom: 25px;
}

.news-item p {
  margin: 0;
}

.news-item time {
  text-transform: none;
}

.gallery-container {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;

  height: 260px;
}

.gallery-button {
  box-sizing: border-box;

  width: 140px;
  margin: 0;
}

.gallery-content {
  height: 164px;
  margin: 0;

  background-color: #ccc;
  border: 7px solid #fff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.contacts p {
  margin: 0;
  margin-bottom: 25px;
}

.appointment-info {
  margin: 0;
  margin-bottom: 15px;
}

.appointment-item {
  margin: 0;
  margin-bottom: 10px;
  width: 140px;
}

.appointment-item label {
  display: block;
  margin-bottom: 9px;
  margin-left: 15px;
}

.appointment form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  /* margin-right: 16px; */

  font: inherit;

  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000;
  border: none;
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.appointment input[type="text"],
.appointment input[type="tel"] {
  box-sizing: border-box;
  width: 140px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;

  font: inherit;

  background-color: transparent;
  border: 2px solid #000;
}

.appointment input:focus {
  border-color: #663d15;
}

.submit-button {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-right: 0;

  font: inherit;

  background-color: #000;
}

.main-footer {
  padding: 60px 0;

  color: #fff;

  background-color: #212121;
  background-image: url("../img/dark-background-tile.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.main-footer .container {
  display: flex;
}

.index-page {
  margin-bottom: 65px;
}

.footer-contacts {
  margin: 0;
  margin-right: 80px;
  width: 320px;
}

.footer-contacts>a {
  color: #fff;
  text-decoration: underline;
}

.footer-contacts>a:hover,
.footer-contacts>a:focus {
  text-decoration: none;
}

.footer-social {
  width: 145px;

  text-align: center;
}

.footer-social b {
  display: block;
  margin-bottom: 15px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;

  background-color: #000000;
}

.social-button:hover,
.social-button:focus {
  background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
  fill: #000000;
}

.footer-copyright {
  margin: 0;
  margin-left: auto;
  width: 150px;


  text-align: center;
}

.footer-copyright b {
  display: block;
  margin-bottom: 15px;
}

.footer-copyright .button {
  display: block;
  margin-right: 0;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000;

  background-color: #fff;
}

.modal {
  color: #000;

  background-color: #f8f3f0;
  background-image: url("img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.modal-login input[type="text"],
.modal-login input[type="password"] {
  font: inherit;
  color: #000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000;
}

.modal-login input:focus {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.restore {
  color: #000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}

.inner-page {
  background-color: #f8f3f0;
  background-image: url("../img/noisy-background-tile.jpg");
}

.inner-page-header {
  margin: 0;
  padding: 0;

  background-color: #000;
}

.inner-page-header .main-menu {
  width: 700px;
}

.inner-page h1 {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  padding-top: 55px;

  font-size: 30px;
  line-height: 42px;
  color: #000;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
}

.breadcrumbs-item {
  margin-right: 42px;

  font-size: 14px;
  line-height: 20px;
  color: #000;
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 7px;
  right: 17px;
  width: 8px;
  height: 8px;

  transform: rotate(45deg);
  background-color: #000000;
}

.breadcrumbs li:last-child::after {
  display: none;
}

.breadcrumbs-item-current {
  color: #aba9a7;
}

.catalog-wrap {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 220px;
}

.filters fieldset {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  border: none;
}

.filters legend {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  color: #000;
}

.filters label {
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

.filters-option-set li:not(:last-child) {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
}

.catalog {
  width: 700px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  width: 220px;
  min-height: 286px;

  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.catalog-item:hover,
.catalog-item:focus,
.product-images img:hover,
.product-images img:focus {
  box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.2);
}

.catalog-item:not(:nth-child(3n)) {
  margin-right: 20px;
}

.catalog-item img {
  width: 220px;
  height: 165px;
  margin: 0;
}

.catalog-item h3 {
  order: 1;
  margin-top: 17px;
  margin-bottom: 12px;
  margin-left: 16px;
  margin-right: 15px;

  font-size: 14px;
  line-height: 18px;
  color: #000;
}

.catalog-item-category {
  display: block;
}

.catalog-item p {
  display: flex;
  margin: 15px;
  margin-top: 0;
}

.catalog-item>a {
  display: flex;
  flex-direction: column;
  color: inherit;
}

.catalog-item b {
  display: inline-block;
  width: 112px;
  padding-top: 16px;

  font-size: 14px;
  line-height: 18px;
  color: #000;
  text-align: center;

  background-color: #e5e5e5;
}

.catalog-item button {
  width: 78px;
  padding: 13px 18px 11px;
  margin-right: 0;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 50px;
}

.pagination-button {
  display: inline-block;

  padding: 10px 18px;
  margin-right: 7px;
  max-height: 43px;

  font: inherit;

  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000;
  border: none;
}

.pagination-button-current {
  color: #000;

  background-color: #fff;
}

.pagination-button:not(.pagination-button-current):hover,
.pagination-button:not(.pagination-button-current):focus,
.pagination-button:not(.pagination-button-current):active {
  background-color: #663d15;
}

.product-images {
  margin: 0;
  margin-bottom: 50px;
  width: 460px;
}

.product-description {
  width: 390px;
}

.product-images p {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.catalog-item-wrap {
  display: flex;
  justify-content: space-between;
}

.product-image-small {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-images img {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.product-description {
  margin: 0;
  padding: 0;
}

.product-description p {
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.product-description h3 {
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 30px;
  color: #000;
}

.product-details {
  margin-bottom: 40px;
}

.product-price {
  display: flex;
  margin-bottom: 65px;
}

.product-price b {
  width: 112px;
  padding-top: 13px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 11px;

  line-height: 20px;
  text-align: center;

  background-color: #e5e5e5;

  box-sizing: border-box;
}

.product-list {
  margin-left: 20px;

  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.product-description .product-article {
  color: #aeaeae;
}

.product-list li {
  position: relative;
}

.product-list li::before {
  content: "";

  position: absolute;
  top: 7px;
  left: -16px;
  width: 8px;
  height: 8px;

  transform: rotate(45deg);
  background-color: #000000;
}

.product-description-wrap {
  display: flex;
  justify-content: space-between;
}

.price-page {
  color: #000;
}

.price-page-heading {
  position: relative;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  display: block;

  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.price-page-heading::before,
.price-page-heading::after {
  content: "";

  position: absolute;
  top: 24px;
  height: 2px;
  width: 160px;

  background-color: #000;
}

.price-page-heading::before {
  right: 0;
}

.price-page-heading::after {
  left: 0;
}

.price-page h2 {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
}

.price-page-products {
  margin: 0;
  margin-bottom: 65px;
  padding: 0;
}

.price-page-products li {
  position: relative;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  margin-left: 20px;
}

.price-page-products li::before {
  content: "";

  position: absolute;
  top: 8px;
  left: -18px;
  width: 8px;
  height: 8px;

  background-color: #000;
  transform: rotate(45deg);
}

.price-column-left {
  margin: 0;
  padding: 0;
  width: 380px;
}

.price-column-right {
  margin: 0;
  padding: 0;
  width: 460px;
}

.price-wrap {
  display: flex;
  justify-content: space-between;
}

.price-table {
  margin: 0;
  margin-bottom: 125px;
  padding: 0;
  width: 100%;
  min-height: 125px;
  box-sizing: border-box;

  border: 2px solid #000;
}

.price-table td {
  margin: 0;
  padding: 0;
  padding: 8px 0 8px;
  vertical-align: middle;
  width: 50%;
  border: 2px solid #000;
  border-collapse: collapse;
}

td.price-table-service {
  padding-left: 17px;
}

.price-table-price {
  text-align: center;
}

.price-page-description {
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
}
